#companyLogo{
    /* background-color: violet; */
    background-image: url('../Img/PracticeLogo.png');
    background-position: center;
    background-size: cover;
    position:absolute;
    top: 25vh;
    left:10vw;
    height:55vh;
    width:55vh;
  }
  #companyMessage{
    /* background-color: violet; */
    position:absolute;
    top: 25vh;
    right:10vw;
    height:55vh;
    width:55vh;
  }
  #companyMessageText{
    position:absolute;
    top:10vh;
    left:1vw;;
    width:28vw;
    font-size:2.25vh;
    text-align:center;

  }
  #companyMessageTitle{
    text-align:center;
    position:absolute;
    color: #5FB49C;
    top:2.5vh;
    left:0;
    width:30vw;
    font-size:5vh;
  }